
body{
    background-color: #F2ECE6;
    font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
}
.container{
    border: 3px solid;
    display: flex;
    margin: 100px 400px;
}
.container2 img{
width: 230px;
height: 350px;
}
.container3{  
    
    width: 250px;
    height: 350px;
    background-color: white;
    padding-left: 20px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 700;
}
.button{
    text-align: center;
    padding: 10px 50px;
    background-color: darkgreen;
    color: aliceblue;
    cursor: pointer;
}
.p1{
 
}