body{
    background-color:hsl(225, 100%, 94%);
    padding: 0ex;  
    margin: 0px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
   }
   .xyz{
   background-color: white;
   padding: 15px;
   position: absolute;
   left: 40px;
   top: 5px;
   margin: 387px;
   
   
   
   }
   .bg__image{
     height: 400px;
       
   }
   .hii{
     position: relative; 
     top: 170px; 
     right: -20px;
   }
   .change{
   position: absolute;
   right: 55px;
   top: 150px;
   }
   .mus{
       position: absolute;
       left: 40px;
   
   }
   .yea{
   position: relative;
   bottom: 20px;
   right: 60px;
   }
   .ann{
   position: relative;
   right: 60px;
   }
   
       
      
   
   .button{
     background-color: blue; 
     border-radius: 12px;
     padding: 8px 70px;
     text-align: center;
     
   }